﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="performainvoice.aspx.cs" Inherits="mailtemplete_performainvoice" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }

        @font-face {
            font-family: 'amaticbold';
            src: url('../fonts/amatic-bold.eot');
            src: url('../fonts/amatic-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/amatic-bold.woff2') format('woff2'), url('../fonts/amatic-bold.woff') format('woff'), url('../fonts/amatic-bold.ttf') format('truetype'), url('../fonts/amatic-bold.svg#amaticbold') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'bobregular';
            src: url('../fonts/bob.eot');
            src: url('../fonts/bob.eot?#iefix') format('embedded-opentype'), url('../fonts/bob.woff2') format('woff2'), url('../fonts/bob.woff') format('woff'), url('../fonts/bob.ttf') format('truetype'), url('../fonts/bob.svg#bobregular') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'mission_scriptregular';
            src: url('../fonts/mission-script.eot');
            src: url('../fonts/mission-script.eot?#iefix') format('embedded-opentype'), url('../fonts/mission-script.woff2') format('woff2'), url('../fonts/mission-script.woff') format('woff'), url('../fonts/mission-script.ttf') format('truetype'), url('../fonts/mission-script.svg#mission_scriptregular') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'museo300';
            src: url('../fonts/museo300-regular.eot');
            src: url('../fonts/museo300-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/museo300-regular.woff2') format('woff2'), url('../fonts/museo300-regular.woff') format('woff'), url('../fonts/museo300-regular.ttf') format('truetype'), url('../fonts/museo300-regular.svg#museo300') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'museo500';
            src: url('../fonts/museo500-regular.eot');
            src: url('../fonts/museo500-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/museo500-regular.woff2') format('woff2'), url('../fonts/museo500-regular.woff') format('woff'), url('../fonts/museo500-regular.ttf') format('truetype'), url('../fonts/museo500-regular.svg#museo500') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'museo700';
            src: url('../fonts/museo700-regular.eot');
            src: url('../fonts/museo700-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/museo700-regular.woff2') format('woff2'), url('../fonts/museo700-regular.woff') format('woff'), url('../fonts/museo700-regular.ttf') format('truetype'), url('../fonts/museo700-regular.svg#museo700') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <!-- ========== Strat static html ========== -->
        <div style="width: 960px; height:1260px; overflow:hidden;">
            <div style="margin: 30px!important;">
                <div style="position: relative;">
                    <div class="toparea" style="font-family: Arial, Helvetica, sans-serif;">
                        <div style="float: left; font-family: Arial, Helvetica, sans-serif; padding: 5px 0px 0px 10px; width: 30%;">
                            <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/logo.png") %>"
                                width="124" height="100" />
                        </div>
                        <div style="float: right; text-align: right; padding: 5px 10px 0px 0px; width: 60%;">
                            <p style="font-family: 'Open Sans', sans-serif; font-size: 18px; line-height: 21px; color: #00b0f0; font-weight: 400;">
                                <span style="font-size: 20px; font-weight: 600; line-height: 24px;">THINK GREEN SOLAR<br />
                                    1300 484 784</span><br>
                                <span style="font-size: 18px;"><a href="mailto:info@thinkgreensolar.com.au">info@thinkgreensolar.com.au</a><br />
                                    <a href="http://www.thinkgreensolar.com.au/" target="_blank">www.thinkgreensolar.com.au</a></span>
                            </p>
                        </div>
                        <div style="float: none; clear: both"></div>
                    </div>
                </div>
                <div align="center" style="font-family: 'Open Sans', sans-serif; font-size: 24px; line-height: 26px; font-weight: 700px; color: #00b0f0;">
                    <strong>Performa Invoice
                        - <asp:Label ID="lblSalesInvNo" runat="server"></asp:Label></strong><br />
                    <span style="font-size: 15px; font-weight: normal;">
                        <asp:Label ID="lblSalesInvDate" runat="server"></asp:Label></span>
                </div>
                <div style="position: relative;">
                    <div style="position: relative; z-index: 1;">
                        <div>
                            <h1 style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 34px; line-height: 34px; color: #00b0f0; margin: 0px 0px 15px 0px; padding: 0px 0px 10px 0px; border-bottom: #000000 solid 3px;">Contact Details</h1>
                            <p style="font-family: 'Open Sans', sans-serif; font-size: 18px; line-height: 25px; color: #000; font-weight: 400; margin: 0px; padding: 0px 0px 15px 0px;">
                                Name:
                                <asp:Label ID="lblSalesRepName" runat="server"></asp:Label><br>
                                Mobile:
                                <asp:Label ID="lblContMobile" runat="server"></asp:Label><br>
                                Phone:
                                <asp:Label ID="lblCustPhone" runat="server"></asp:Label><br>
                                Email :
                                <asp:Label ID="lblContEmail" runat="server"></asp:Label>
                            </p>
                        </div>
                        <div>
                            <h1 style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 34px; line-height: 34px; color: #00b0f0; margin: 0px 0px 15px 0px; padding: 0px 0px 10px 0px; border-bottom: #000000 solid 3px;">Site Details</h1>
                            <p style="font-family: 'Open Sans', sans-serif; font-size: 18px; line-height: 25px; color: #000; font-weight: 400; margin: 0px; padding: 0px 0px 15px 0px;">
                                <asp:Label ID="lblInstallAddress" runat="server"></asp:Label><br />
                                <asp:Label ID="lblInstallAddress2" runat="server"></asp:Label>
                            </p>
                            <div>
                                <h1 style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 34px; line-height: 34px; color: #00b0f0; margin: 0px 0px 15px 0px; padding: 0px 0px 10px 0px; border-bottom: #000000 solid 3px;">System Details</h1>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="60%" valign="top">
                                            <p style="font-family: 'Open Sans', sans-serif; font-size: 18px; line-height: 25px; color: #000; font-weight: 400; margin: 0px; padding: 0px 0px 0px 0px;">
                                                Panels:
                                                <asp:Label ID="lblPanelDetails" runat="server"></asp:Label><br>
                                                Inverter:
                                                <asp:Label ID="lblInverterDetails" runat="server"></asp:Label>
                                            </p>
                                        </td>
                                        <td valign="top" align="right"><%--<p style="font-family: 'Open Sans', sans-serif; font-size:14px; line-height:25px; color:#000; font-weight:400; margin:0px; padding:0px 0px 0px 0px;"><strong>«ServiceValue»</strong></p>--%></td>
                                    </tr>
                                </table>
                                <p style="font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 20px; color: #000; font-weight: 400; margin: 0px; padding: 10px 0px 5px 0px;">For the supply and installation of the Complete Solar System</p>
                                <div>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Open Sans', sans-serif; font-size: 13px; line-height: 20px; color: #000; font-weight: 400;">
                                        <tr>
                                            <td valign="top">&nbsp;</td>
                                            <td width="25%" align="right" style="padding: 1px 5px; font-weight: 600">Total Cost:</td>
                                            <td width="25%" align="right" style="padding: 1px 5px; font-weight: 600;font-size: 17px;">
                                                <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblTotalQuotePrice" runat="server"></asp:Label></td>
                                        </tr>
                                        <tr>
                                            <td valign="top">&nbsp;</td>
                                            <td align="right" style="padding: 1px 5px; font-weight: 600">Net Cost:</td>
                                            <td align="right" style="padding: 1px 5px; font-weight: 600;font-size: 17px;">
                                                <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblNetCost" runat="server"></asp:Label></td>
                                        </tr>
                                        <tr>
                                            <td valign="top">&nbsp;</td>
                                            <td align="right" style="padding: 1px 5px 13px 5px; font-weight: 600">Deposit Paid:</td>
                                            <td align="right" style="padding: 1px 5px 13px 5px; font-weight: 600;font-size: 17px;">
                                                <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblDepositPaid" runat="server"></asp:Label></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="right" style="font-size: 20px; color: #fff; font-weight: 600; background: #00b0f0; padding: 10px 5px 12px 5px;">Balance Due:</td>
                                            <td align="right" style="font-size: 23px; color: #fff; font-weight: 600; background: #00b0f0; padding: 10px 5px 12px 5px;">
                                                <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblBalanceDue" runat="server"></asp:Label></td>
                                        </tr>
                                    </table>
                                    <p style="font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 20px; color: #000; font-weight: 400; margin: 0px; padding: 3px 0px 12px 0px;">Note: The Net Cost above includes GST of: $<%--<asp:Label ID="lblrupees" runat="server"></asp:Label>--%><asp:Label ID="lblCommissionGST" runat="server"></asp:Label></p>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="6" style="border: #000000 solid 1px; font-family: 'Open Sans', sans-serif; font-size: 13px; line-height: 18px; color: #000; font-weight: 400;">
                                        <tr>
                                            <td colspan="4" align="center" style="font-family: 'Open Sans', sans-serif; font-size: 18px; line-height: 18px; color: #00b0f0; font-weight: 600; border-bottom: #000 solid 1px;">Payment Methods</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" valign="middle" style="border-right: #000 solid 1px; font-weight: 600; line-height: 18px;" width="110">Payment Option :</td>
                                            <td style="border-bottom: #000 solid 1px; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 18px; color: #00b0f0; font-weight: 600; border-right: #000000 solid 1px;">EFT / Bank Transfer</td>
                                            <td style="border-bottom: #000 solid 1px; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 18px; color: #00b0f0; font-weight: 600; border-right: #000000 solid 1px;">Credit Card</td>
                                            <td style="border-bottom: #000 solid 1px; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 18px; color: #00b0f0; font-weight: 600;">Cheque / Money Order</td>
                                        </tr>
                                        <tr>
                                            <td style="border-right: #000000 solid 1px;">A/c Name: Think Green Solar
                                                <br>
                                                BSB: 034008 A/c No. 308638</td>
                                            <td style="border-right: #000000 solid 1px;">(Master / Visa cards)<br>
                                                with 1.5% surcharge</td>
                                            <td>Payable to &quot;Think Green Solar&quot; and mail it to<br>
                                                409, Francis Street, Brooklyn, VIC – 3012</td>
                                        </tr>
                                    </table>
                                    <p style="font-family: 'Open Sans', sans-serif; font-size: 13px; line-height: 16px; color: #000; font-weight: 400; margin: 0px; padding: 30px 0px 15px 0px;text-align:justify!important;">
                                        <span style="font-family: 'Open Sans', sans-serif; font-size: 13px; color: #00b0f0; font-weight: 600;">Payment Schedules:</span> This Invoice needs to be paid on the day of installation<br>
                                        <span style="font-family: 'Open Sans', sans-serif; font-size: 13px; color: #00b0f0; font-weight: 600;">Note:</span> Customer agrees that he did not receive any solar grant in the past and also agrees to transfer STCs to Think Green Solar or Think Green Solar Agent. All products and services are supplied subject to Think Green Solar terms and conditions.<br>
                                        *Upgrade of Meter Box (if needed) will be negotiated and charged by our Electrician directly. The cost of the replacement of your current electric meter has to be borne by you, which can include legal charges imposed by the Electricity Distributor. Customer agrees to pay the balance amount of the system plus any additional costs towards the system installation.<br>
                                        *Customer must pay the Balance Due amount on the day of the installation. A $20 late payment each day/ collection fee, plus interest, will be applicable if customer fails to pay the Balance Due on time.
                                    </p>
                                </div>
                            </div>
                            <div style="border-top: #000 solid 3px; margin-top: 50px; padding-top:5px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="25%" align="center" valign="middle" style="margin-top: 10px;">
                                            <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/btm_logo1.jpg") %>" width="130" height="113" />
                                        </td>
                                        <%--<td width="25%" align="center" valign="middle">
                                            <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/btm_logo2.jpg") %>" width="117" height="113" />
                                        </td>--%>
                                        <td width="25%" align="center" valign="middle">
                                            <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/btm_logo3.jpg") %>" width="168" height="113" />
                                        </td>
                                        <td width="25%" align="center" valign="middle">
                                            <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/btm_logo4.jpg") %>" width="84" height="113" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ========== end static html ========== -->
    <%--<div style="width: 100%;">
        <div style="width: 960px; margin: 0px auto;">
            <div style="clear: both; font-family: 'OpenSansLight' , sans-serif; font-size: 18px;">
            </div>
            <div style="font-family: 'OpenSansLight' , sans-serif; font-size: 18px;">--%>
                <%--<div style="text-align: center; margin-bottom: 10px; font-family: 'OpenSansLight' , sans-serif; font-size: 18px;" runat="server" id="divinstall1">
                    Install Booking Date
                </div>
                <div style="text-align: center; font-family: 'OpenSansLight' , sans-serif; font-size: 18px;" runat="server" id="divinstall2">
                    <asp:Label ID="lblDate" runat="server"></asp:Label>
                </div>--%>
                <%--<h3 style="text-align: center; font-family: 'OpenSansLight' , sans-serif; margin: 5px;">Performa Invoice No:
                    <asp:Label ID="lblInvoiceNumber" runat="server"></asp:Label></h3>
                <asp:Label ID="lblDate" runat="server" Style="text-align: center; font-family: 'OpenSansLight' , sans-serif; margin: 5px; display: block;"></asp:Label>
                <div style="font-family: 'OpenSansLight' , sans-serif; font-size: 18px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-left: solid 1px #999;">
                        <tr>
                            <td width="50%" style="border-top: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <strong>Customer Details</strong>
                            </td>
                            <td width="50%" style="border-top: solid 1px #999; border-collapse: collapse; padding: 5px; border-right: solid 1px #999;">
                                <strong>Installation Detail</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-collapse: collapse; padding: 5px;">
                                <asp:Label ID="lblContact" runat="server"></asp:Label>
                            </td>
                            <td style="border-collapse: collapse; border-right: solid 1px #999; padding: 5px;">
                                <asp:Label ID="lblInstallAddress" runat="server"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-collapse: collapse; padding: 5px;">
                                <asp:Label ID="lblPostalAddress" runat="server"></asp:Label></strong>
                            </td>
                            <td style="border-collapse: collapse; border-right: solid 1px #999; padding: 5px;">
                                <asp:Label ID="lblInstallAddress2" runat="server"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <asp:Label ID="lblPostalAddress2" runat="server"></asp:Label>
                            </td>
                            <td style="border-bottom: solid 1px #999; border-right: solid 1px #999; border-collapse: collapse; padding: 5px;">&nbsp;
                                
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-left: solid 1px #999; border-top: 1px solid #999;">
                        <tr>
                            <td width="70%" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <strong>For the Supply and Installation of Complete Solar System</strong>
                            </td>
                            <td width="16%" align="right" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <strong>Total Cost:</strong>
                            </td>
                            <td width="14%" align="right" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <strong>
                                    <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblTotalQuotePrice" runat="server"></asp:Label></strong>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <strong>Panel Details :</strong>
                                <asp:Label ID="lblPanelDetails" runat="server"></asp:Label><strong><br>
                                    <br>
                                    Inverter Details :</strong>
                                <asp:Label ID="lblInverterDetails" runat="server"></asp:Label>
                            </td>--%>
                            <%-- <td align="right" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">Less Govt Rebate:
                            </td>
                            <td align="right" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblRECRebate" runat="server"></asp:Label>
                            </td>--%>
                        <%--</tr>
                        <tr>
                            <td align="right" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">Net Cost:
                            </td>
                            <td align="right" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblNetCost" runat="server"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">Deposite:
                            </td>
                            <td align="right" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblDepositPaid" runat="server"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: solid 1px #999;">&nbsp;
                                
                            </td>
                            <td align="right" style="border-left: solid 1px #999; border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">Balance Due:
                            </td>
                            <td align="right" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblBalanceDue" runat="server"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="0" align="center" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">Note: The Net Cost above includes GST of:
                                <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/img_dollar.png") %>" width="8" height="16" algn="absmiddle" /><asp:Label ID="lblBalanceGST" runat="server"></asp:Label>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-left: solid 1px #999; border-top: 1px solid #999;">
                        <tr>
                            <td width="100%" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <strong>Payment Schedule :</strong> This invoice needs to be paid on the day of
                                installation.
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <strong>Note:</strong> Customer agrees that he did not receive any solar grant in
                                the past and also agrees to transfer STCs to Euro Solar or Euro Solar Agent. All
                                products and services are supplied subject to Euro Solar terms and conditions.
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">*Upgrade of Meter Box (if needed) will be negotiated and charged by our Electrician
                                directly. The cost of the replacement of your current electric meter has to be borne
                                by you, which can include legal charges imposed by the Electricity Distributor.
                                Customer agrees to pay the balance amount of the system plus any additional costs
                                towards the system installation.
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-left: solid 1px #999; border-top: 1px solid #999;">
                        <tr>
                            <td colspan="6" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <strong>Payment Options</strong>
                            </td>
                        </tr>
                        <tr>
                            <td width="15%" align="left" bgcolor="#CCCCCC" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">EFT / Bank Transfer
                            </td>
                            <td width="17%" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">&nbsp;
                                
                            </td>
                            <td width="13%" align="left" bgcolor="#CCCCCC" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">Credit Card
                            </td>
                            <td width="13%" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">&nbsp;
                                
                            </td>
                            <td width="11%" align="left" bgcolor="#CCCCCC" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">Cheque / MO
                            </td>
                            <td width="31%" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">A/c Name: Euro Solar
                            </td>
                            <td colspan="2" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">(Master / Visa cards)
                            </td>
                            <td colspan="2" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">Cheque payable to &quot;Euro Solar&quot; and mail it to
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">BSB: 034037 A/c No. 250324
                            </td>
                            <td colspan="2" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">with 1.5% surcharge
                            </td>
                            <td colspan="2" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">PO BOX 570, Archerfield QLD 4108.
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-left: solid 1px #999; border-top: 1px solid #999;">
                        <tr>
                            <td width="100%" align="left" style="border-right: solid 1px #999; border-bottom: solid 1px #999; border-collapse: collapse; padding: 5px;">
                                <strong>Customer must pay the Balance Due amount on the day of the installation. A $20
                                    late payment each day/ collection fee, plus interest, will be applicable if customer
                                    fails to pay the Balance Due on time.</strong>
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
        </div>
    </div>--%>
</body>
</html>
