﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="footer.ascx.cs" Inherits="admin_include_fotter" %>
<%--<div id="globalFooter" class="printorder">
    <div id="footer">
        <div class="copyRight">
            Copyright &copy; <%=DateTime.Now.Year %>
            <asp:Label ID="lblsitename1" runat="server" Text=""></asp:Label>
            All rights reserved.
        </div>
        <div class="siteCreated">
            Site By : 
                <asp:HyperLink runat="server" ID="hypsiteby"
                    Target="_blank"> </asp:HyperLink>
            <asp:Label ID="lblsitebyname" runat="server"></asp:Label>
        </div>
    </div>
    <div class="clear">
    </div>
</div>--%>

<div class="app-footer-left">
<span class="copytext">&copy; <%=DateTime.Now.Year %> Australian Premium Solar. All rights reserved.</span>
</div>
<div class="app-footer-right">
 <span class="iconmegh">Designed by: <a href="http://www.meghtechnologies.com/" target="_blank"><img src="/assets/images/logo_meghtechnologies.png" alt="Megh technologies"></a>
    </span>
</div>
   
    

